
#main {
  height: auto;
  min-height: 200px;
  align-items: center;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #EFEFEF;
  background-color: #ffffba ;
}

#header {
  text-align: center;
  position: relative;
}


#img-div {
  height: 50%;
  width: 50%;
  min-width: 220px;
  justify-content: center;
  border: 1px solid #EFEFEF;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffa1;
}

.img {
  height: 100%;
  width: 100%;


}


/* Style bottom section */
#bottom-section {
  padding: 1em;
  line-height: 1.5;
  background-color: #ffff62;
}